@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-header-bg: 20 50 83;
		--color-menu-bg: 183 119 0;
		--color-menu-hover: 210 176 112;
	}

	.dark {
		--color-header-bg: 10 26 42;
		--color-menu-bg: 138 90 0;
		--color-menu-hover: 160 128 64;
	}
}

html, body {
	@apply h-full m-0;
}

body {
	@apply flex flex-col bg-white text-black dark:bg-gray-900 dark:text-white;
}

#content {
	@apply flex-grow;
}
